
html {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: black;
}

body {
    background-color: #eeeeee;
    font-size: 20px;
}

header {
    margin: 30px;
}

h1 {
    letter-spacing: 10px;
    display: inline;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-size: 15px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: white;
    color: black;
    font-size: 16px;
    text-align: left;
    border-radius: 6px;
    padding: 10px 25px;
    border: solid 1px black;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip:hover {
      color: grey;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

a {
    font-size: 11px;
    text-decoration: none;
    color: black;
}

a:hover {
    font-size: 15px;
}

#newItemDetails {
    line-height: 160%;
}

#buttons {
    margin-top: 30px;
}

button {
    border: 1px solid #006b9c;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #006b9c;
    color: white;
}

#addBtn {
    border: 1px solid #13a100;
}

#addBtn:hover {
    background-color: #13a100;
    color: white;
}

.remove {
    border: 1px solid #c00040;
    margin: 15px 2px;
}

.remove:hover {
    background-color: #c00040;
    color: white;
}

#shoppingList {
    font-family: 'Inconsolata', monospace;
    padding: 2px 20px;
    font-size: 20px;
    text-align: center;
    border-style: double;
    display: block;
    margin: 15px auto;
    width: 300px;
    background-color: #fffd8f;
}

p#total {
    font-size: 18px;
    font-style: italic;
    text-align: right;
}

#list {
    text-align: left;
}

ul {
    list-style: circle;
}

li:hover{
    text-decoration: line-through;
    color: #c00040;
}

footer {
    margin: 20px;
}