
html {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: black;
}

body {
    background-color: #eeeeee;
    font-size: 20px;
}

h1 {
    letter-spacing: 10px;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

a:hover {
    font-size: 16px;
}

#newItemDetails {
    line-height: 150%;
}

#buttons {
    margin-top: 30px;
}

button {
    border: 1px solid #006b9c;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #006b9c;
    color: white;
}

#shoppingList {
    font-family: 'Inconsolata', monospace;
    padding: 2px 20px;
    font-size: 20px;
    text-align: center;
    border-style: double;
    display: block;
    margin: 15px auto;
    width: 300px;
    background-color: #fffd8f;
}

#list {
    text-align: left;
}

ul {
    list-style: circle;
}